body{
		background-image: url("../img/bg-login.jpg");
		margin: 0;
		padding: 0;
}

@-webkit-keyframes fadeIn {
		0% { opacity: 0; }
		100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
		0% { opacity: 0;}
		100% { opacity: 1; }
}

@-o-keyframes fadeIn {
		0% { opacity: 0; }
		100% { opacity: 1; }
}

@keyframes fadeIn {
		0% { opacity: 0; }
		100% { opacity: 1; }
}

.fadeIn {
		-webkit-animation: fadeIn 2s ease-in-out;
		-moz-animation: fadeIn 2s ease-in-out;
		-o-animation: fadeIn 2s ease-in-out;
		animation: fadeIn 2s ease-in-out;
}

.name{
		margin-left: 33%;
		margin-top: 10%;
}

#label_title{
		font-size: 50px;
		color: white;
		text-shadow: 0px 02px 03px #666666;
}

#first_name{
		color: white;
		font-size: 20px;
		text-shadow: 0px 2px 3px #666666;
}
